<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Sleep Tracker 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Sleep Tracker</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <div>
      <h1><strong> {{greeting}}<br/>{{message}} </strong></h1>
    </div>

    <div>
      <ion-grid>
        <ion-row>

          <ion-col>
            <ion-card>
              <ion-card-header>
                <ion-card-title>Overnight Sleep Log</ion-card-title>
              </ion-card-header>
            
              <ion-card-content>
                <!-- You don't have any sleep logged for today. -->
                {{sleepMsg}}
              </ion-card-content>
            
              <ion-button id="overnight-modal" fill="outline" shape="round" (click)="addLog()">Add Log</ion-button>

              <ion-modal mode="ios" trigger="overnight-modal">
                <ng-template>
                  <ion-header>

                    <ion-toolbar>
                      <ion-buttons slot="start">
                        <ion-button (click)="cancel()">Cancel</ion-button>
                      </ion-buttons>
                      <ion-title>Overnight Sleep Log</ion-title>
                      <ion-buttons slot="end">
                        <ion-button (click)="confirm()" [strong]="true">Confirm</ion-button>
                      </ion-buttons>
                    </ion-toolbar>

                  </ion-header>
                  <ion-content class="ion-padding">
                    <ion-item>
                      <ion-label position="stacked" size="large"><strong>What time did you go to sleep?</strong></ion-label>
                      <ion-datetime presentation="date-time" (ionChange)="updateStartTime($event)" [preferWheel]="true"></ion-datetime>
                    </ion-item>
                    <ion-item>
                      <ion-label position="stacked" size="large"><strong>What time did you wake up?</strong></ion-label>
                      <ion-datetime presentation="date-time" (ionChange)="updateEndTime($event)" [preferWheel]="true"></ion-datetime>
                    </ion-item>
                  </ion-content>
                </ng-template>
              </ion-modal>

            </ion-card>
          </ion-col>

          <ion-col>
            <ion-card>
              <ion-card-header>
                <ion-card-title>Sleepiness Log</ion-card-title>
              </ion-card-header>
            
              <ion-card-content>
                You don't have any sleepiness logs for today.
              </ion-card-content>
            
              <ion-button fill="clear">Add Log</ion-button>
            </ion-card>
          </ion-col>

        </ion-row>
      </ion-grid>
    </div>

  </div>


</ion-content>
