<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <ion-title>All Logs</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list>
    <ion-card *ngFor="let data of sleepData" [color]="data.constructor.name == 'OvernightSleepData' ? 'primary' : 'secondary'">
      <ion-card-header>
        <ion-card-subtitle *ngIf="data.constructor.name == 'OvernightSleepData'; else sleepinessBlock"><strong>Overnight Sleep Log</strong></ion-card-subtitle>
        <ng-template #sleepinessBlock><strong>Sleepiness Log</strong></ng-template>
        <ion-card-title>{{data.summaryString()}}</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        {{data.dateString()}}
      </ion-card-content>
    </ion-card>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>

<div slot="bottom">
  <ion-toolbar>
    <ion-tabs>
      <ion-router-outlet></ion-router-outlet>
    
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="home">
          <ion-icon name="home-outline"></ion-icon>
          Home
        </ion-tab-button>
        <ion-tab-button tab="logs">
          <ion-icon name="cloudy-night-outline"></ion-icon>
          All Logs
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</div>