<!-- <ion-content>
  
  <div class="example-content">Log content</div>

</ion-content> -->
<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <ion-title>Logs</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <div class="example-content">Logs content</div>
  </ion-content>
  <div>
    <ion-tabs>
      <ion-router-outlet></ion-router-outlet>
    
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="home">
          <ion-icon name="home-outline"></ion-icon>
          Home
        </ion-tab-button>
        <ion-tab-button tab="logs">
          <ion-icon name="cloudy-night-outline"></ion-icon>
          All Logs
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>

  </div>
</ion-content>